html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hockey net is 72 x 48, or 6ft x 4ft */
/* so its 600px x 400px of net */
/* 2 3/8" thick bars */
/* 1ft = 100px */
/* 8.33px per inch */
/* 8.33 * 2 and 3/8 = 20px */
.hockey-net {
  position: relative;
  background-color: #ffffff;
  width: 640px;
  height: 420px;
  margin: 0 auto;
}

.cross-bar {
  position: relative;
  background-color: #FF0000;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 640px;
  height: 20px;
}

.left-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FF0000;
  width: 20px;
  height: 400px;
}

.right-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FF0000;
  width: 20px;
  height: 400px;
}

.net {
  position: relative;
  left: 20px;
  width: 600px;
  height: 400px;
}